*{
    font-family: 'Montserrat', sans-serif;
    color: white;
}
.container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  gap: 2rem;
  padding: 1rem;
  background-color: darkblue;
}

.movie-card img {
    height: 350px;
    width: 250px;
}

.movie-card{
    background-color: gray;
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    font-family: 'Montserrat', sans-serif;

}

