.icons{
    padding-top: 3vh;
    padding-right: 2vw;
    display: grid;
    
}

.favicon .shopicon{
    padding: 2rem;
}

.favicon :hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.9s ease-in-out;
}

.shopicon:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.9s ease-in-out;
}